<?xml version="1.0" encoding="utf-8"?>
<!--
 | Version 10.2
 | Copyright 2013 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->
<ProxyConfig>

    <!-- Provide the URL of your application's site (or even just the URL of the server) so that only it
         may use the proxy. If this section is omitted, any application on any site in the world may use
         the proxy. -->
    <applicationSiteUrl>http://yourserver.yourdomain.com/yourapplication</applicationSiteUrl>

    <!-- With URL rewriting, the proxy adapts the URL sent by the calling app by modifying it and/or adding
         authentication information. If this section is omitted, no URLs will be checked for rewriting. -->
    <UrlRewriting>
        <UrlToRewrite urlPrefix="https://api.twitter.com/1.1/search/tweets.json">
            <!-- Rule for general searching on Twitter; omit for apps not searching Twitter. (Apps that
                 share via Twitter will be prompted for the user's credentials by Twitter itself.) -->
            <twitterCredentials>
                <!-- Twitter requires authentication in order to search for tweets. This rule provides OAuth 2
                     authentication for the app. This authentication is a two-step process: the rule asks
                     Twitter for a "bearer token" using credentials defined below, then the proxy is able
                     to use this token to make searches. The proxy caches the bearer token for the period
                     specified below.
                     To generate application-level authentication credentials, go to https://dev.twitter.com/apps
                     and log into your Twitter account. Click the "Create a new application" button in the
                     upper-right corner. Provide a Name that's unique across Twitter. Provide a Description and
                     Website as you see fit; leave Callback blank. Agree to the rules and fill in the Captcha,
                     then click the "Create your Twitter application" button. Click the "Create my access token"
                     button.  If, after the page refreshes, it has not changed to "Recreate my access token",
                     click it again. Go to the "OAuth tool" tab and copy the OAuth Consumer key, Consumer secret,
                     Access token, and Access token secret to the the credentials (below). -->
                <authenticationUrl>https://api.twitter.com/oauth2/token</authenticationUrl>
                <consumerKey></consumerKey>
                <consumerSecret></consumerSecret>
                <accessToken></accessToken>
                <accessTokenSecret></accessTokenSecret>
                <tokenCacheDurationMinutes>60</tokenCacheDurationMinutes>
            </twitterCredentials>
        </UrlToRewrite>
    </UrlRewriting>

    <!-- Provide as much of the URL prefix as possible for servers that you'll permit, including rewritten URLs
         such as "http://www.arcgis.com/sharing/". If this section is omitted, no sites outside of your server
         may be queried for data. -->
    <!-- The "exemptRSS2" switch ("false" if omitted) indicates if RSS feeds are exempt from the accepted servers
         restriction. If "true" and the URL prefix is not in the list of server URLs below, then the proxy
         retrieves the URL content but will not forward it to the app unless the content parses as RSS 2. If the
         URL prefix is in the list, then the proxy does not check its returned content for RSS 2. -->
    <serverUrls exemptRSS2="true">
        <!-- url: permitted external site; use either specific URL or stem -->
        <serverUrl url="http://arcgis-tenone2012-1974758903.us-west-1.elb.amazonaws.com/arcgis/rest/services"></serverUrl>
        <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest/services/"></serverUrl>
        <serverUrl url="http://www.arcgis.com/sharing/rest/"></serverUrl>
        <serverUrl url="https://api.twitter.com/1.1/search/tweets.json"></serverUrl>
        <serverUrl url="http://geocode.arcgis.com/arcgis/rest/"></serverUrl>
        <serverUrl url="http://tasks.arcgisonline.com/ArcGIS/rest/"></serverUrl>
    </serverUrls>

</ProxyConfig>
